@import fonts
@import colors
@import logo
@import page-header
@import main-nav

.container
  max-width: 1170px
  width: 100%
  margin: 0 auto

.grid-wrapper
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: min(670px) min(420px)

.grid-wrapper__item
  min-height: 100px
  //border: 1px solid #000

@media (max-width: 1199px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 750px
  
@media (max-width: 768px)
  .container
    max-width: 100%
    padding: 0 30px
  
