@import "~normalize.css";
@import "roboto.css";

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    text-align: center;
    color: rgba(48, 183, 236, 0.733);
}

.logo {
    background-image: url("../public/images/webpack-logo.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}